<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>师徒课堂</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        *{
            margin:0;
            padding: 0;
        }
        body{
            font-size: 14px;
            line-height: 1.7;
            font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",Arial,sans-serif;
        }
    .container{
        height:50px;
    }
    #stpt{
      height:40px;
      width: 40px;
    }
    .na-item {
        display: inline-block;
        padding: 10px 5px;
    }
    .na a{
        color:#444;
    }
    a{
        text-decoration: none;
        margin-left: 2px;
        margin-right: 2px;
    }
 .course-list{
        max-width: 700px;
        margin: 0 auto;
        margin-top: 150px;
        font-size: 16px;
        text-align: center;
    }
    .block-title{
        margin-bottom: 40px;
        color: #bbb;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
    .item{
        display: inline-block;
        margin-bottom: 15px;
        line-height: 1.7;
        padding: 0 20px;
    }
    .item a{
        display: inline-block;
        color: #999;
        line-height: 1;
    }
    .footer{
        margin: 0 auto;
        margin-top: 200px;
        padding-bottom: 50px;
        text-align: center;
        padding: 0 5px;
        color: #999;
    }
   
    </style>
  </head>
  <body>
     <div class="container">
        <div class="na">
                <div class="container clearfix">
                    <div class="pull-left">
                        <img src="images/st.jpg" id="stpt"/>
                    </div>
                    <div class="pull-right">
                        <a class="na-item " href="/login?login_redirect=http://biaoyansu.com">登录</a>
                        <a class="na-item " href="/signup?login_redirect=http://biaoyansu.com">注册</a>
                    </div>
                </div>
            </div>

            <div class="course-list clearfix">
                    <div class="block-title">课程列表</div>
                         <div title="做个Vue.js清单应用 - 表严肃讲Vue.js实战 [更新中]" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="做个Vue.js清单应用 - 表严肃讲Vue.js实战 [更新中] 表/22.x" ng-class="{new: moment('2017-09-12 23:40:24').diff(moment(), 'days') >= -10}" ng-href="/22.x" href="/22.x">
                                <span>做个Vue.js清单应...</span>
                                <span mid="'22.x'" class="ng-isolate-scope">
                                    <a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/22.x" title="课程ID：22.x" href="/22.x">
                                        <span style="font-size: 75%;">表/</span>
                                        <span class="num ng-binding">22.x</span>
                                    </a>
                                </span>
                            </a>
                        </div>
                                    <div title="Webpack精讲 - 表严肃讲Webpack" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="Webpack精讲 - 表严肃讲Webpack 表/21.x" ng-class="{new: moment('2017-09-05 21:40:46').diff(moment(), 'days') >= -10}" ng-href="/21.x" href="/21.x"><span>Webpack精讲 - 表...</span> <span mid="'21.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/21.x" title="课程ID：21.x" href="/21.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">21.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="npm火速上手 - 表严肃讲npm" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="npm火速上手 - 表严肃讲npm 表/20.x" ng-class="{new: moment('2017-08-26 03:57:35').diff(moment(), 'days') >= -10}" ng-href="/20.x" href="/20.x"><span>npm火速上手 - 表...</span> <span mid="'20.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/20.x" title="课程ID：20.x" href="/20.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">20.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="Vue.js生态之vue-router" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="Vue.js生态之vue-router 表/19.x" ng-class="{new: moment('2017-08-19 05:00:07').diff(moment(), 'days') >= -10}" ng-href="/19.x" href="/19.x"><span>Vue.js生态之vue-...</span> <span mid="'19.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/19.x" title="课程ID：19.x" href="/19.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">19.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="Vue.js精讲 - 表严肃讲Vue.js" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="Vue.js精讲 - 表严肃讲Vue.js 表/18.x" ng-class="{new: moment('2017-08-05 17:11:57').diff(moment(), 'days') >= -10}" ng-href="/18.x" href="/18.x"><span>Vue.js精讲 - 表...</span> <span mid="'18.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/18.x" title="课程ID：18.x" href="/18.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">18.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="jQuery三步搞定表单验证 - 表严肃jQuery实战" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="jQuery三步搞定表单验证 - 表严肃jQuery实战 表/17.x" ng-class="{new: moment('2017-07-22 18:25:38').diff(moment(), 'days') >= -10}" ng-href="/17.x" href="/17.x"><span>jQuery三步搞定表...</span> <span mid="'17.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/17.x" title="课程ID：17.x" href="/17.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">17.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="玩转JQuery - 表严肃讲JQuery" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="玩转JQuery - 表严肃讲JQuery 表/16.x" ng-class="{new: moment('2017-05-31 18:48:11').diff(moment(), 'days') >= -10}" ng-href="/16.x" href="/16.x"><span>玩转JQuery - 表...</span> <span mid="'16.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/16.x" title="课程ID：16.x" href="/16.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">16.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="Bootstrap新闻站开发 - Bootstrap实战" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="Bootstrap新闻站开发 - Bootstrap实战 表/15.x" ng-class="{new: moment('2017-05-27 10:55:22').diff(moment(), 'days') >= -10}" ng-href="/15.x" href="/15.x"><span>Bootstrap新闻站...</span> <span mid="'15.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/15.x" title="课程ID：15.x" href="/15.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">15.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="玩转Bootstrap - 表严肃讲Bootstrap" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="玩转Bootstrap - 表严肃讲Bootstrap 表/14.x" ng-class="{new: moment('2017-05-27 10:42:42').diff(moment(), 'days') >= -10}" ng-href="/14.x" href="/14.x"><span>玩转Bootstrap -...</span> <span mid="'14.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/14.x" title="课程ID：14.x" href="/14.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">14.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="响应式布局到底怎么玩？- 表严肃讲响应式布局" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="响应式布局到底怎么玩？- 表严肃讲响应式布局 表/13.x" ng-class="{new: moment('2017-05-27 10:34:23').diff(moment(), 'days') >= -10}" ng-href="/13.x" href="/13.x"><span>响应式布局到底怎...</span> <span mid="'13.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/13.x" title="课程ID：13.x" href="/13.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">13.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="JavaScript精讲 - 表严肃讲JavaScript" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="JavaScript精讲 - 表严肃讲JavaScript 表/12.x" ng-class="{new: moment('2017-05-27 10:11:32').diff(moment(), 'days') >= -10}" ng-href="/12.x" href="/12.x"><span>JavaScript精讲 -...</span> <span mid="'12.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/12.x" title="课程ID：12.x" href="/12.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">12.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="电商站首页布局 - 表严肃HTML&amp;CSS实战" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="电商站首页布局 - 表严肃HTML&amp;CSS实战 表/11.x" ng-class="{new: moment('2017-05-27 10:06:42').diff(moment(), 'days') >= -10}" ng-href="/11.x" href="/11.x"><span>电商站首页布局 -...</span> <span mid="'11.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/11.x" title="课程ID：11.x" href="/11.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">11.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="极简博客开发 - 表严肃HTML&amp;CSS实战" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="极简博客开发 - 表严肃HTML&amp;CSS实战 表/10.x" ng-class="{new: moment('2017-05-27 09:44:17').diff(moment(), 'days') >= -10}" ng-href="/10.x" href="/10.x"><span>极简博客开发 -...</span> <span mid="'10.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/10.x" title="课程ID：10.x" href="/10.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">10.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="CSS火速入门 - 表严肃讲CSS" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="CSS火速入门 - 表严肃讲CSS 表/9.x" ng-class="{new: moment('2017-05-27 09:21:03').diff(moment(), 'days') >= -10}" ng-href="/9.x" href="/9.x"><span>CSS火速入门 - 表...</span> <span mid="'9.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/9.x" title="课程ID：9.x" href="/9.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">9.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="TypeScript精讲 - 表严肃讲TypeScript" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="TypeScript精讲 - 表严肃讲TypeScript 表/8.x" ng-class="{new: moment('2017-05-25 20:45:15').diff(moment(), 'days') >= -10}" ng-href="/8.x" href="/8.x"><span>TypeScript精讲 -...</span> <span mid="'8.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/8.x" title="课程ID：8.x" href="/8.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">8.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="ES6精讲 - 表严肃讲ES6" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="ES6精讲 - 表严肃讲ES6 表/7.x" ng-class="{new: moment('2017-05-25 19:59:02').diff(moment(), 'days') >= -10}" ng-href="/7.x" href="/7.x"><span>ES6精讲 - 表严肃...</span> <span mid="'7.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/7.x" title="课程ID：7.x" href="/7.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">7.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                                    <div title="HTML精讲 - 表严肃讲HTML" class="col-xs-12 col-sm-6 item">
                            <a tooltip-placement="top" tooltip-popup-delay="200" uib-tooltip="HTML精讲 - 表严肃讲HTML 表/6.x" ng-class="{new: moment('2017-05-25 06:58:03').diff(moment(), 'days') >= -10}" ng-href="/6.x" href="/6.x"><span>HTML精讲 - 表严...</span> <span mid="'6.x'" class="ng-isolate-scope"><!-- ngIf: nolink --><!-- ngIf: !nolink --><a ng-if="!nolink" target="_self" class="mid ng-scope" ng-href="/6.x" title="课程ID：6.x" href="/6.x"><span style="font-size: 75%;">表/</span><span class="num ng-binding">6.x</span></a><!-- end ngIf: !nolink --></span></a>
                        </div>
                            </div>
            



                            <div class="footer col-xs-12 col-sm-6">
                                
                                    XICP备16XXXXX号-X © 2017-2017
                                    •
                                    stjy51.com
                                    •
                                    version: 0.1.3
                                </div>
    </div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  </body>
</html>